body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.App {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 10px;
}

.navbar, .sidebar {
  background-color: #282c34;
  color: white;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
}

.sidebar {
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar.light {
  background-color: #f0f2f5;
  color: #282c34;
}

.sidebar.dark {
  background-color: #282c34;
  color: white;
}
